
<div class="toolbar" >
  <div class="icons-toolbar">
  <div class="icon"> 
    <img
    style="width:90px"
    alt="E-gramam Logo"
    src="https://yt3.ggpht.com/a/AGF-l7_5kEATvVZ1beJlxv2hJVTG4tKCQvXjlSyW_A=s900-c-k-c0xffffffff-no-rj-mo"/>
  </div>
  <div class="eGramam-icon">
    <img
      style="width:100px"
      
      alt="Egramam Logo"
      src="https://lh3.googleusercontent.com/hcqOxQXuLEWgoYHyoGsavfF75m-FAWMu3jwuVTUV6yYFIc_PGDuSsa14tbrZcrlTwAr5Ugk9=w1080-h608-p-no-v0"/>
  </div>
</div>


  <div class="header-group">
   <i class="fas fa-search"></i>
    <i class='far fa-bell' style='font-size:15px'></i>
    <img class="photo-card" style='width:50px; border-radius:50% ' src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTYeFP3ph9Xd7u_bk_8VLYY96nSfBdogSG-wwY3VVbRtYOX24Sr&usqp=CAU">

    {{title}}
    
  </div>

</div>

